.article {
  &__headline {
    text-align: center;
    margin-bottom: 2rem;
  }
  &__questions {
    width: 85%;
    margin: 0 auto;
  }
  &__author {
    @extend .articles-item__author;
  }
  &__inner {
    @extend .articles-item__inner;
  }
  &__image {
    display: block;
    width: 100%;
    max-width: 823px;
    height: 382px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
    }
    &--contain {
      img {
        object-fit: contain;
      }
    }
    &--cover {
      img {
        object-fit: cover;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    &__image {
      height: 276px;
    }
  }
  @media only screen and (max-width: 500px) {
    &__image {
      height: 176px;
    }
  }
  &__text {
    font-size: 19px;
    line-height: 1.9;
    padding-bottom: 2rem;
    img {
      display: inline-block;
      width: 100%;
    }
    ul {
      padding-left: 1em;
      li {
        list-style: initial;
      }
    }
  }
  hr, .social {
    margin: 4rem 0;
  }
}
