.articles {
  &-item {
    @extend .card-product;

    width: auto;
    min-height: 15rem;
    margin-bottom: 2rem;

    &__inner {
      padding: 1.4286rem 1.4286rem 0;
    }
    &__image {
      @extend .card-product-image;
      background: #f3f3f3;
      float: left;
      margin-right: 1.4286rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__text {
      color: #0f1c39;
      font-size: 1.143rem;
      line-height: 1.75;
    }
  }
}
