footer {
  padding: 40px 0 30px 0;
  background-color: #383838;
}
.footer-logo-wrap {
  margin: 0 auto;
  width: 140px;
  text-align: center;
}
.footer-actions {
  padding: 30px;
  text-align: center;
}
.footer-actions .caption {
  color: #fafafa;
  text-transform: uppercase;
  margin: 0 13px;
}
@media only screen and (max-width: 570px) {
  .footer-actions span {
    display: block;
  }
  .footer-actions .caption {
    margin: 10px 5px;
  }
}
.footer-actions .caption:hover {
  color: #dee1e8;
}
.footer-copy {
  color: #888b94;
  text-align: center;
}
.footer-copy p {
  margin-bottom: 8px;
}
.footer-up {
  padding: 10px 0;
  text-align: center;
}
