footer {
  padding: 80px 0;
  height: 474px;
  float: left;
  width: 100%;
  background-color: #383838;
}
.footer-logo-wrap {
  margin: 0 auto;
  padding-bottom: 15px;
  width: 140px;
  text-align: center;
  border-bottom: solid 2px #00a15f;
}
.footer-actions {
  padding: 64px 0 60px;
  text-align: center;
}
.footer-actions .caption {
  color: #fafafa;
  text-transform: uppercase;
  margin: 0 13px;
}
.footer-actions .caption:hover {
  color: #dee1e8;
}
.footer-copy {
  color: #888b94;
  text-align: center;
}
.footer-copy p {
  margin-bottom: 8px;
}
.footer-up {
  padding: 10px 0;
  text-align: center;
}
