header {
  .header-nav {
    height: 126px;
    background-color: #00a15f;
    border-bottom: #008951 1px solid;
  }

  .container {
    position: relative;
    ul {
      position: absolute;
      top: 50px;
      left: -2rem;
    }
  }

  ul, li {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    text-transform: uppercase;
    a {
      display: inline-block;
      padding: 0.5rem 2rem;
      color: white;
      background: url(../assets/components/header/divider.png) repeat-y 100% 0;
      &:hover {
        color: #9fcf67;
      }
    }
    a.last {
      background: none;
    }
  }
}

.header__logo {
  display: block;
  float: right;
  width: 115px;
  height: 60px;
  margin-top: 33px;
  background: url(../assets/components/header/logo.png) no-repeat 0 0;
  text-indent: -777em;
}
