.container
  .article

    .article__inner
      h1 SABEResPODER – Knowledge is Power

      h2 Our Proprietary Approach, Emotional Connectedness, is at the Heart of Everything We Do: <b>ENTICE. ENGAGE. EDUCATE. EMPOWER.</b>

      .article__text

        h3 Vision

        p <b>We are a Spanish-language media company</b>, focused on empowering the lives of Latinos through a trusted brand that is an established resource to the community. Through our multiple platform networks, we deliver educational content on relevant topics that improve people's lives.

        p <b>We offer you</b> the opportunity to partner with us, which delivers your brand through a trusted channel. You receive a targeted, measurable campaign, and the chance to lead the dialogue in your category.

        p <b>Our mission—to educate people and empower lives</b> — is woven throughout every touchpoint we have. Our network of video, print, mobile, digital, and educational events offers practical tools for Latinos who are actively seeking information and solutions to further establish themselves in U.S. society.

        p <b>Our media network</b> is based in community touchpoints and consulates throughout the U.S., allowing us to reach and positively impact 8+ million Latino community members and generate over 1 billion impressions annually.

        p <b>We are a Certified B Company. That means "For Benefit."</b> SABEResPODER is the highest-ranked B Corporation™ in the nation. B Corporations™ are a new type of corporation that are purpose-driven and create benefit for all shareholders and stakeholders.

        p We encourage you to learn more about and support Certified B Corporations. Visit <a href="http://bcorporation.net/saberespoder/" target="_blank">bcorporation.net</a>.

        h3 History

        p <b>SABEResPODER started in 2002 by a group of visionaries as a non-profit initiative</b> to improve the lives of Latinos in the U.S. by providing free printed guides on select topics of interest.


        p <b>In 2005, we decided that in order to build a social enterprise it had to be sustained by an innovative business model</b> we envisioned a multiple touchpoint network that would consist of video, print, digital, mobile, and events—to carry our mission of informing, connecting, and empowering Latinos with information and solutions to help advance their lives.

        p <b>SABEResPODER was re-born as the Latino Empowerment Nework™</b>: In 2008, we chose to become an accredited "For Benefit Corporation" and redefined community outreach through an integrated media platform; a literal example of "technology empowering people." Since then, we have expanded throughout the U.S. in trusted community touchpoints and have transformed waiting areas into learning rooms. SABEResPODER has become a brand that the Latino community can turn to for trusted information and customized solutions.
