meta property="og:type" content="article" /
meta property="og:title" content="#{title}" /
meta property="og:description" content="#{description}" /
meta property="og:url" content="#{url}" /
- if image
  meta property="og:image" content="#{image}" /
meta property="og:locale" content="es_US" /

meta property="twitter:card" content="summary" /
meta property="twitter:title" content="#{title}" /
meta property="twitter:description" content="#{description}" /
meta property="twitter:url" content="#{url}" /
meta property="twitter:image" content="#{image}" /
