= link_to config[:content_title], "/", class: "error-message__logo"
h1 We'll be back soon!
p Sorry for the inconvenience but we're performing some maintenance at the moment.
p If you need to you can always <a href='mailto:info@saberespoder.com'>contact us</a>, otherwise we&rsquo;ll be back online shortly!
p
  i SABEResPODER
